/* OneLogin SCSS -------------- */

@import "compass/css3";
@import "compass/layout.scss";
@import "normalize";
@import "foundation";

@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {

}

hr {
  border: solid #D7D7D7;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
  @include box-shadow( 1px 1px 0 0 #ffffff );
}

p {
  font-size: .95em;
  line-height: 1.5em;
}

a {
  color: #007698;
  @include transition( all .3s ease-out );
    &:hover {
      color: #00b5cb;
    }
}

#logo {
  line-height: 78px;
}

ul#toolbar {
  float: right;
  margin: 5px 0 18px 0;
    li {
      list-style: none;
      float: left;
      font-size: 10pt;
      padding: 0 10px;
        &:last-child {
          padding: 0 0 0 10px;
        }
    }
    a {
      color: #69747a;
      padding: 0;
      line-height: 0;
        &:hover {
          color: #00B5CD;
        }
    }
}

nav {
  width: 100%;
  font-size: 11pt;
  position: relative;
    ul {
      padding: 0;
      margin: 0;
      float: right;
    }
    li {
      display: inline;
      float: left;
        a {
          @include box-sizing( border-box );
        }
        &:last-child {
          a {
            color: #FFF;
            min-width: 0;
            padding: 0 10px;
            display: block;
            @include border-top-radius( 5px );
            @include border-bottom-radius( 5px );
            @include border-left-radius( 5px );
            @include border-right-radius( 5px );
            @include box-shadow( inset 1px 1px 1px #F9B76D, 1px 1px 2px rgba(0, 0, 0, 0) );
            @include background( linear-gradient(top, rgba(247,149,32,1) 0%,rgba(246,155,50,1) 25%,rgba(243,149,53,1) 50%,rgba(232,106,5,1) 100%) );
              &:hover, &:active {
                @include background( linear-gradient(top,  rgba(246,134,1,1) 0%,rgba(245,141,22,1) 25%,rgba(241,134,25,1) 50%,rgba(229,85,0,1) 100%) );
              }
          }
       }
    }
    a {
      color: #69747a;
      padding: 0 12px;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      line-height: 33px;
        &:hover, &:active {
          color: #00B5CD;
        }
    }
}
nav a#pull {
  display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
  nav { 
      height: auto;
        ul {
          width: 100%;
          display: block;
          height: auto;
        }
        li {
          width: 50%;
          float: left;
          position: relative;
            a {
            }
        }
        a {
          text-align: left;
          width: 100%;
          text-indent: 25px;
        }
    }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
  nav {
    border-bottom: 0;
      ul {
        display: none;
        height: auto;
      }
  }
  nav a#pull {
    display: block;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
  }
}

.bg-white {
  background: #ffffff url('http://www.onelogin.com/wp-content/themes/onelogin/images/bg-snow.png') 50% 50% repeat;
}

header {
  padding: 10px 0;
  @include box-shadow( 0 0 15px 5px rgba(0,0,0,.25) );
  position: relative;
  z-index: 100;
}

#slider-wrap {
  background: #1E7695 url('http://www.onelogin.com/wp-content/themes/onelogin/images/bg-hero-tile.png') top left repeat;
  margin: 0 0 35px 0;
  padding: 25px 0;
}

#buzz {
  h2 {
    margin: 0;
    font-size: 1.75em;
    font-weight: normal;
  }
  .logo {
    float: left;
    margin-right: 20px;
    width: 100px;
    padding: 13px 10px 10px 10px;
    text-align: center;
    border: 1px solid #d6d2d2;
    border-radius: 3px;
    background: rgba(255,255,255,.3);
  }
  h4 {
    font-weight: normal;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
  }
}

#links {
    h2 {
      font-weight: normal;
      font-size: 1.50em;
      line-height: 1.25em;
      margin: 0 0 0 0;
    }
}

#homepage_offer {
  text-align: center;
  padding: 25px 0 50px 0;
    h2 {
      display: inline;
      font-weight: normal;
      margin: 0 25px 0 0;
    }
    a {
      width: 210px;
      background: rgb(247,149,32);
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, rgba(247,149,32,1) 0%, rgba(246,155,50,1) 25%, rgba(243,149,53,1) 50%, rgba(232,106,5,1) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,149,32,1)), color-stop(25%,rgba(246,155,50,1)), color-stop(50%,rgba(243,149,53,1)), color-stop(100%,rgba(232,106,5,1)));
      background: -webkit-linear-gradient(top, rgba(247,149,32,1) 0%,rgba(246,155,50,1) 25%,rgba(243,149,53,1) 50%,rgba(232,106,5,1) 100%);
      background: -o-linear-gradient(top, rgba(247,149,32,1) 0%,rgba(246,155,50,1) 25%,rgba(243,149,53,1) 50%,rgba(232,106,5,1) 100%);
      background: -ms-linear-gradient(top, rgba(247,149,32,1) 0%,rgba(246,155,50,1) 25%,rgba(243,149,53,1) 50%,rgba(232,106,5,1) 100%);
      background: linear-gradient(top, rgba(247,149,32,1) 0%,rgba(246,155,50,1) 25%,rgba(243,149,53,1) 50%,rgba(232,106,5,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79520', endColorstr='#e86a05',GradientType=0 );
      color: #FFF;
      text-shadow: none;
      box-shadow: inset 1px 1px 1px #F9B76D, 1px 1px 2px rgba(0, 0, 0, 0);
      -moz-box-shadow: inset 1px 1px 1px #f9b76d, 1px 1px 2px rgba(0, 0, 0, 0);
      -webkit-box-shadow: inset 1px 1px 1px #F9B76D, 1px 1px 2px rgba(255, 255, 255, 0);
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      font-size: 1em;
      height: 42px;
      line-height: 42px;
      min-width: 155px;
      padding: 0 25px;
      display: inline-block;
      text-align: center;
    }
}

#homepage_subfooter {
  border-top: 1px solid #bebebf;
}

#homepage_blog {
  border-right: 1px solid #d7d7d7;
  padding-top: 50px;
  padding-bottom: 40px;
    h3 {
      font-size: 1.25em;
      margin: 0 0 25px 0;
      padding: 0;
      font-weight: normal;
    }
    ul {
      padding: 0 40px 0 0;
        li {
          list-style: none;
          padding: 20px 60px 20px 0;
          border-top: 1px dotted #d7d7d7;
            &:first-child {
              padding: 0 60px 20px 0;
              border-top: none;
            }
            &:last-child {
              padding: 20px 60px 0 0;
                a {
                  font-size: .8em;
                }
            }
            p {
              font-size: .75em;
              margin: 0 0 0 0;
              color: #959595;
            }
            a {
              font-size: 1.4em;
              text-decoration: none;
            }
        }
    }
}

footer {
  background: url('http://www.onelogin.com/wp-content/themes/onelogin/images/bg-footer.png') top left repeat;
  @include box-shadow( 0 -1px 15px 2px rgba(0,0,0,.5) );
    ul {
        li {
          list-style: none;
          float: left;
        }
    }
}